@using Microsoft.AspNetCore.Mvc.ModelBinding
@using MvcCoreTest.Entities

@model Restaurant

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>New Restaurant</title>
</head>
<body>
<h1>New Restaurant</h1>
    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div>
            @Html.LabelFor(m => m.Cuisine)
            @Html.DropDownListFor(m => m.Cuisine, Html.GetEnumSelectList<CuisineType>())
        </div>
        <div>
            <input type="submit" value="Save"/>
        </div>
    }

</body>
</html>
