@using Microsoft.AspNetCore.Mvc.ModelBinding
@using MvcCoreTest.ViewModels

@model HomePageViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
<h1>This is the home page</h1>
<h3>@Model.CurrentGreeting</h3>
<div>
    <table>
        @foreach (var r in Model.Restaurants)
        {
            <tr><td>@Html.ActionLink(r.Name, "Details", new { id = r.Id })</td></tr>
        }
    </table>
</div>
</body>
</html>
