@model HomePageViewModel
@{
    //ViewBag.Title = "Home";
    ViewData["Title"] = "Home";
}

<h1>Welcome to the restaurant list</h1>

@foreach (var r in Model.Restaurants)
{
    @Html.Partial("_Summary", r);
}


<div>
    <!-- asp-controller="Home" is optional when calling an action on the same controller.  -->
    <a asp-controller="Home" asp-action="Create">Create</a>    
</div>
